html {
    scroll-behavior: smooth;
  }

@font-face {
  font-family: 'Klavika';
  src: url('https://xexanterxcin.github.io/PC-LEGEND/Font/klavika-medium-webfont.woff2') format('woff2'),
       url('https://xexanterxcin.github.io/PC-LEGEND/Font/klavika-medium-webfont.woff') format('woff'),
       url('https://xexanterxcin.github.io/PC-LEGEND/Font/klavika-regular-italic-webfont.woff2') format('woff2'),
       url('https://xexanterxcin.github.io/PC-LEGEND/Font/klavika-regular-italic-webfont.woff') format('woff'),;
  font-weight: normal;
  font-style: normal;
}

body{
    margin: 0px 0px 0px 0px;
    background-color: #212121;
    width: 100%;
    font-family: 'Klavika', Arial, sans-serif;
    overflow-x: hidden;
}
.header{
z-index: 100;
display: flex;
position: fixed;

align-items: center;
justify-content: space-between;
top: 0px;
left: 0px;
height: 80px;
width: 100%;
padding-right: 10px;
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
background-color: rgba(0, 0, 0, 0.2);
box-shadow: 0px 5px 15px rgba(0, 255, 0, 0.4);
}
.logo{
    margin: 10px 30px 10px 30px;
    float: left;
}
.headLine{
    float: left;
    text-align: center;
    width: 50%;
    height: auto;
    display: flex;
    
}
.headText{
    font-size: 40px;
    color: #00ff00;
    margin: 10px 0px 0px 0px;
    float: left;
    display: flex;
}

/*headerlist*/
#header-list{
display: inline;
float: right;
}
#header-list-menu{
display: flex;
font-size: 20px;
}
.home-button{
margin: 10px 20px 0px 0px;
}
.about-button{
margin: 10px 50px 10px 20px;
}

#header-list-menu a{
text-decoration: none;
}
.menu__link {
position: relative;
color: #00ff00;
}
.menu__link:hover {
position: relative;
}
.menu__link:hover::after {
position: absolute;
content: '';
width: 100%;
height: 2.88px;
left: 0;
top: 32px;
transition: 0.3s;
background-color: #00ff00;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: #00ff00;
  }

/*home-page*/
#home-page{
    background-color: #212121;
    color: #00ff00;
    height: 678px;
    width: auto;
    display: flex;

    flex-direction: row;
}




.leftContent{
    height: 27rem;
    width: 50%;
    margin: 120px 0px 0px 60px;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
    float: left;
}
.leftContent h3{
margin: 20px 20px 5px 0px;
font-size: 20px;
}




.leftContent p{
margin: 0px 0px 0px 0px;
font-size: 20px;
}





.leftContent ul{
margin: 0px 0px 0px 0px;
font-size: 20px;
}
.rightContent{
    height: 347px;
    width: 30%;
    margin: 120px 0px 0px 60px;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
    text-align: center;
}
.contactHeadText{
margin: 0px 0px 20px 0px;
font-size: 20px;
}
.rightContent a{
    text-decoration: none;
    color: #00ff00;
}
.rightContent a button{
    height: auto;
    width: 95%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    color: #00ff00;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
    margin: 20px 0px 10px 0px;
    transition: 0.4s;
}
.rightContent a button:hover{
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    color: #ff6000;
    box-shadow: 0px 0px 15px rgba(255, 96, 0, 0.4);
    transition: 0.4s;
}
.rightContent a button img{
    height: auto;
    width: 48px;
    float: left;
    margin: 0px 0px 0px 0px;
}
.buttonText{
    font-size: 28px;
    margin: 8px 0px 0px 25px;
    float: left;
}






/*about-page*/
#about-page{
    background-color: #212121;
    color: #ffffff;
    height: 678px;
    width: auto;
    display: inline-block;
}
.about-headline{
    font-size: 42px;
    color: #00ff00;
    text-align: center;
    padding: 100px 0px 20px 119px;
    cursor: default;
}

.my-image-2{
    height: auto;
    width: 25%;
    float: left;
    margin: 40px 20px 0px 100px;
}
.about-text{
    height: auto;
    width: 44%;
    float: left;
    color: #00ff00;
    margin: 40px 0% 0px 11%;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.4);
}
.a-0{
    font-size: 28px;
    padding: 0px 0px 20px 0px;
}
.a-1{
    padding: 0px 0px 5px 0px;
}
.a-2{
    padding: 0px 0px 20px 0px;
}
.a-3{
    padding: 0px 0px 5px 0px;
}




.body1 {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas: "main" "." "footer";
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 300px;
}

.body1 .footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.body1 .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background:  rgb(0, 255, 0);
    filter: url("#blob");
}

.body1 .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background:  rgb(0, 255, 0);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
}

.content {
    padding: 2rem 1rem 2rem;
    background:  rgb(0, 255, 0);
    z-index: 100;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
}
.follow-text{
    text-align: center;
    margin: auto;
}

.social-icon{
    height: 60px;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    text-align: center;
}
.icon{
    height: 40px;
    width: 40px;
    margin: 0px 30px 10px 30px;
}



@media (max-width: 576px) {
    #home-page {

        display: flex;

        flex-direction: column;

        height: auto;

        padding: 20px;

    }
    .leftContent {

        margin-left: 5.3rem;

        width: 65%;

    }
    .leftContent p {
        font-size: 17px;
    }
    .leftContent ul {

        font-size: 13px;

    }
    .headText {

        font-size: 22px;

        margin-bottom: 10px;

        align-items: center;
        
        margin-left: -12px;

    }

    .header {

        height: 100px;

    }

    .rightCOntent {

        width: 60%;

    }

    .rightContent {

        height: auto;

        width: auto;

        margin-right: 30px;

    }

    .my-image-2 {

        display: none;

    }

    .about-headline {

        margin-top: 100px;

        padding: 0;

    }

    .about-text {

        width: 60%;

        height: auto;

        margin-right: 35px;

        margin-top: 60px;

    }
}




@-webkit-keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@keyframes bubble-size {

    0%,
    75% {
        width: var(--size, 4rem);
        height: var(--size, 4rem);
    }

    100% {
        width: 0rem;
        height: 0rem;
    }
}

@-webkit-keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}

@keyframes bubble-move {
    0% {
        bottom: -4rem;
    }

    100% {
        bottom: var(--distance, 10rem);
    }
}










